body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f5f7fa;
  }
.navbar {
    display: flex;
    justify-content: space-between;   /* logo left, links right */
    align-items: center;
    padding: 15px 30px;
    background-color: #222;
  }
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.logo img {
    border-radius: 50%;
}
  
.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}
  
.nav-links a:hover {
    text-decoration: underline;
}
main {
    max-width: 900px;
  margin: auto;
  padding: 30px 20px;
}
section{
    background-color: #f4f6f8;
    padding: 10px;
    border-radius: 8px;
    
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #222;
    border-left: 5px solid #0066cc;
    padding-left: 10px;
}

ul {
    list-style-type: square;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #ff6600;
    text-decoration: underline;
}

footer {
    text-align: center;
    background-color: #222;
    color: white;
    padding: 1px;
}
